{% extends 'base.html' %}

{% block title %}LotR Quiz Home{% endblock %}

{% block content %}
<h1 class="text-center my-5">Do You Know Enough 'Lord of the Rings' ?</h1>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Books</h4>
            </div>
            <div class="card-body">
<!--                <h1 class="card-title pricing-card-title">Books<small class="text-body-secondary fw-light">/mo</small>-->
<!--                </h1>-->
                <ul class="list-unstyled mt-3 mb-4">
                    {% for book in books %}
                    <li>{{ book.name }}</li>
                    {% endfor %}
                </ul>
                <!--            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</button>-->
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Movies</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    {% for movie in movies %}
                    <li>{{ movie.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Random Characters</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    {% for character in characters %}
                    <li>{{ character.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-1 mb-3 text-center">
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Movie Quotes</h4>
            </div>
            <div class="card-body">
              <input type="text" id="characterQuote" placeholder="Enter Character Name and press 'Enter' button" class="form-control w-50 mx-auto">
                 <div id="quotesContainer" class="mt-4"></div> <!-- Container for displaying quotes -->

<!--                <h1 class="card-title pricing-card-title">Books<small class="text-body-secondary fw-light">/mo</small>-->
<!--                </h1>-->
<!--                <ul class="list-unstyled mt-3 mb-4">-->
<!--                    <li>10 users included</li>-->
<!--                </ul>-->
                <!--            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</button>-->
            </div>
        </div>
    </div>
</div>

{% endblock %}
